<body class="station-dashboard">
<div class="sides">
  <a class='a-logo' href='/'>Bike Share</a>
  <a href="/stations"   class="logo">STATIONS</a>
  <a href="/trips"      class="logo">TRIPS</a>
  <a href="/conditions" class="logo">CONDITIONS</a>
</div>
<div class="station-box">
  <div class='dashboard'>
    <ul>
      <li><span>Total Stations:</span>
        <%= Station.station_count %>
      </li>
      <li><span>Average Bikes:</span>
        <%= Station.average_bikes %>
      </li>
      <li><span>Max Bikes at Station:</span>
        <%= Station.max_bikes_per_station %>
      </li>
      <li><span>Station with most Bikes:</span><br>
        <%= Station.stations_with_most_bikes%>
      </li>
      <li><span>Station with least Bikes:</span><br>
        <%= Station.stations_with_least_bikes%>
      </li>
      <li><span>Min Bikes at Station:</span>
        <%= Station.min_bikes_per_station%>
      </li>
      <li><span>Oldest Station:</span>
        <%= Station.oldest_station.name%>
      </li>
      <li><span>Newest Station:</span>
        <%= Station.newest_station.name%>
      </li>
    </ul>
  </div>
</div>
</body>
