<!-- TODO - style and format this mess -->

<% @title = "Trip Dashboard" %>

<div class="sides">
  <a class='a-logo' href='/'>Bike Share</a>
  <a href="/stations"   class="logo">STATIONS</a>
  <a href="/trips"      class="logo">TRIPS</a>
  <a href="/conditions" class="logo">CONDITIONS</a>
</div>

<br>Average trip duration: <%= Trip.average_duration %> minutes
<br>Longest Ride: <%= Trip.longest_ride %> minutes
<br>Shortest Ride: <%= Trip.shortest_ride %> minutes
<br>Station with the most rides as a starting place.
: <%= Trip.station_most_starting_rides %>
<br> Station with the most rides as an ending place.
: <%= Trip.station_most_ending_rides %>
<br> Month by Month breakdown TBD
<br> Most Ridden Bike ID: <%= Trip.most_ridden_bike.first %>
<br> Most Ridden Bike Ride Count: <%= Trip.most_ridden_bike.last %>
<br> Least Ridden Bike ID: <%= Trip.least_ridden_bike.first %>
<br> Least Ridden Bike Ride Count: <%= Trip.least_ridden_bike.last %>
<br> Subscriber count <%= Trip.subscriber_count %>
<br> Subscriber Percentage <%= Trip.subscriber_percentage %>
<br> Customer count <%= Trip.customer_count %>
<br> Customer Percentage <%= Trip.customer_percentage %>
<br> Date with highest number of trips <%= Trip.date_with_highest_trips %>
<br> Date with lowest number of trips <%= Trip.date_with_lowest_trips %>
<br><br>MONTHLY STUFF <br><br>

<% @month_breakdown.each do |thing| %>
  <div>
    <p>Month: <%= thing.slice(0) %></p>
    <p>Year: <%= thing.slice(1) %></p>
    <p>Ride Count: <%= thing.slice(2) %></p>
  </div>
<% end %>