<div class="sides">
  <a class='a-logo' href='/'>Bike Share</a>
  <a href="/stations"   class="logo">STATIONS</a>
  <a href="/trips"      class="logo">TRIPS</a>
  <a href="/conditions" class="logo">CONDITIONS</a>
</div>

<div class='trip-index-container'>
  <header>
    <h1><span>All</span> Stations</h1>
  </header>
  <div class='header-links'>
    <a class='header-link' href="/stations/new"><span>New</span> Station</a>
    <a class='header-link' href="/stations-dashboard"><span>Stations</span> Dashboard</a>
  </div>
  <% @stations.each do |station| %>
    <div class='trip-card'>
      <ul>
        <a href="/stations/<%= station.id %>">Station #<%= station.id %></a>
        <li><span>Station Name:</span>
          <%= station.name %>
        </li>
        <li><span>Dock Count: </span>
          <%= station.dock_count %>
        </li>
        <li><span>City Name:</span>
          <%= station.city.name %>
        </li>
        <li><span>Installation Date:</span>
          <%= station.installation_date%>
        </li>
      </ul>
      <form action="/stations/<%= station.id %>/edit" method="GET">
        <input type="submit" value="EDIT">
      </form>
      <form action="/stations/<%= station.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="DELETE">
      </form>
    </div>
    <% end %>
    <%= will_paginate @stations, :page_links => false %>
</div>
